venv/
.venv/
.history/
__pycache__/
.idea/
logs/celery.log
celerybeat-schedule
.vscode/
.env
.DS_Store
celerybeat.pid
app/logs/debug.log
app/logs/celery.log
/k8s/secrets/
#.python-version
.codetorch/**
